<!--
 File Name:    error.ejs
 Author:       Nadia Velikaia
 Student ID:   301244426
 Web App Name: Favourite Book List App
  -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
